<button mat-raised-button color="primary" (click)="onAdd()">add Course</button>
<table class="table">
    <thead>
      <tr>
        <th>coursename</th>
        <th>comment by Ocs</th>
        <th>comment by Ocd</th>
        <th>comment by Rpc</th>
        <th>comment by Commissioner</th>
        <th>status</th>
        <th>document</th>
        
      </tr>
    </thead>
    <tbody>
        @for (item of list; track item) {
            <tr>
            <td>{{item.courseName}}</td>
            <td>{{item.commentByOcs}}</td>
            <td>{{item.commentByOcd}}</td>
            <td>{{item.commentByRpc}}</td>
            <td>{{item.commentByCommissioner}}</td>
            <td>{{item.status}}</td>
            

        <td>
          <button class="btn btn-success" (click)="openModel(item.certificate)">documents</button>
          

        </td>
       
        </tr>

        }
      
    </tbody>
  </table>

  <div class="modal" id="myModal">
    <div class="modal-dialog ">
        <div class="modal-content">
        <div class="modal-header">
          <!-- <h4 class="modal-title">Modal Heading</h4> -->
          <button type="button" class="btn-close" (click)="closeModel()" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
          <iframe *ngIf="modalPdf" [src]="modalPdf" width="100%" height="500px"></iframe>
        <div *ngIf="!modalPdf">Loading...</div>
        </div>
        <div class="modal-footer">
          <!-- <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="closeModel()">Close</button> -->
        </div>
      </div>
    </div>
  </div>
  
