<form (ngSubmit)="createStaff()">
    <div class="container-xl px-4 mt-4">
    <hr class="mt-0 mb-4">
    <div class="row">
        <div>
            <button mat-raised-button color="warn" type="button" (click)="close()" class="btn-close">
                <i class="fa-solid fa-x"></i> 
            </button>
        </div>
        
        <div class="col">
            <div class="card mb-4">
                <div class="card-header">Account Details</div>
                <div class="card-body">
                    
                        <div class="row gx-3 mb-3">
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputFirstName">First name</label>
                                <input class="form-control" id="inputFirstName" type="text" placeholder="Enter your first name" [(ngModel)]="firstName" name="firstName"  >
                            </div>
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputLastName">Middle name</label>
                                <input class="form-control" id="inputLastName" type="text" placeholder="Enter your MIddle name" [(ngModel)]="middleName" name="middleName" >
                            </div>
                        </div>
                        <div class="row gx-3 mb-3">
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputFirstName">Last name</label>
                                <input class="form-control"  type="text" placeholder="Enter your first name" [(ngModel)]="lastName" name="lastName" >
                            </div>
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputLastName">Gender</label>
                                <input class="form-control"  type="text" placeholder="Enter your last name" [(ngModel)]="gender" name="gender">
                            </div>
                        </div>
                        <div class="row gx-3 mb-3">
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputOrgName">Date Enlist</label>
                                <input class="form-control"  type="date"  placeholder="Enter your Date enlist" [(ngModel)]="dateEnlist" name="dateEnlist" >
                            </div>
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputLocation">Staff Id</label>
                                <input class="form-control"  type="text" placeholder="Enter your staffid" value="San Francisco, CA" [(ngModel)]="staffId" name="staffId">
                            </div>
                        </div>
                        
                        <div class="row gx-3 mb-3">
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputPhone">Phone number</label>
                                <input class="form-control"  type="text" placeholder="Enter your phone number" [(ngModel)]="phoneNumber" name="phoneNumber" >
                            </div>
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputBirthday">Birthday</label>
                                <input class="form-control"  type="date"  placeholder="Enter your birthday" [(ngModel)]="dateBirth" name="dateBirth">
                            </div>
                        </div>

                        <div class="row gx-3 mb-3">
                            <div class="col-md-6">
                                <button mat-raised-button color="primary">
                                    <input type="file" (change)="onFileChanged($event)">
                                </button>
                            </div>
                            
                        </div>
                        <button class="btn btn-primary" type="submit" >Save changes</button>


                        
                </div>
            </div>
        </div>
    </div>
</div>
</form>